body{
background-color: blue;
}

h1{
color: antiquewhite;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#middle{
text-align: center;

}

.bike-info{
margin-top: 20px;


}

.footer-page{
color: blue;
background-color: blueviolet;

}

/* need media queries at end of CSS */

/* Small devices (tablets, 768px and up) */
/* @media (min-width: @screen-sm-min) { ... } */

/* Medium devices (desktops, 992px and up) */
/* @media (min-width: @screen-md-min) { ... } */

/* Large devices (large desktops, 1200px and up) */
/* @media (min-width: @screen-lg-min) { ... } */